$ff-serif: 'Playfair Display', serif;
$ff-sans: 'Work Sans', sans-serif;

$base-font-size: 1rem;
$base-font-color: #000;
$base-font-weight: 400;

$page-bkg: #fff;

$tang: #ff6b38;
$sunrise: #f89c25;
$midnight: #283847;

$button-bg: #c4c4c4;
$button-outline: #4f5251;
$button-text: #4f5251;
$button-hover: #fad881;
$button-border-radius: 1em;
